body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box; /* allows % used for width to work better */
							/* this divides up remaining space after padding etc */
}